body {
  display: flex;
  flex-direction: column;
  margin: 0;
  align-items: center;
  /* min-width: 540px; */
  background-color: var(--pale-grey);
  font-family: Pretendard;
}
@media (max-width: 750px) {
  body {
    min-width: 720px;
    font-family: Pretendard;
    width: fit-content;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
